{
  "openapi": "3.0.1",
  "info": {
    "title": "Billers API",
    "description": "API to handle Billers operations",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.mgrp.mobi/"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Billers"
    },
    {
      "name": "Bills"
    },
    {
      "name": "Payment"
    },
    {
      "name": "Transactions"
    }
  ],
  "paths": {
    "/billers/v1/billers": {
      "get": {
        "tags": [
          "Billers"
        ],
        "summary": "Get Billers",
        "description": "Get Billers",
        "operationId": "get_billers_resource_/api/v1/billers",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Biller type",
            "schema": {
              "type": "string",
              "enum": [
                "tax",
                "bill_prepaid",
                "bill_postpaid"
              ]
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Biller name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Billers"
                }
              }
            }
          }
        }
      }
    },
    "/billers/v1/billers/transactions": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Get transactions",
        "operationId": "get_transaction_list_resource",
        "parameters": [
          {
            "name": "biller",
            "in": "query",
            "description": "Biller name to filter transactions",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bill_id",
            "in": "query",
            "description": "Bill ID to filter transactions",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "User ID to filter transactions",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of transactions to retrieve",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset for pagination",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transactions"
                }
              }
            }
          }
        }
      }
    },
    "/billers/v1/billers/transactions/{txn_id}": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Get transaction details by ID",
        "operationId": "get_transaction_resource",
        "parameters": [
          {
            "name": "txn_id",
            "in": "path",
            "description": "Transaction ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/billers/v1/billers/{biller_id}": {
      "get": {
        "tags": [
          "Billers"
        ],
        "summary": "Get Biller by ID",
        "operationId": "get_biller_resource",
        "parameters": [
          {
            "name": "biller_id",
            "in": "path",
            "description": "Biller Identifier",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "Biller",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Biller-response"
                }
              }
            }
          }
        }
      }
    },
    "/billers/v1/billers/{biller_name}/bills": {
      "get": {
        "tags": [
          "Bills"
        ],
        "summary": "Get bills for a specific biller",
        "operationId": "get_bills_resource",
        "parameters": [
          {
            "name": "biller_name",
            "in": "path",
            "description": "Biller name identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bills"
                }
              }
            }
          }
        }
      }
    },
    "/billers/v1/billers/{biller_name}/bills/{bill_id}": {
      "get": {
        "tags": [
          "Bills"
        ],
        "summary": "Get a specific bill",
        "operationId": "get_bill_resource",
        "parameters": [
          {
            "name": "biller_name",
            "in": "path",
            "description": "Biller name identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bill_id",
            "in": "path",
            "description": "Bill Identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bill-response"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }, 
    "schemas": {
      "Error": {
        "required": [
          "error"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error description"
          }
        }
      },
      "Billers": {
        "required": [
          "billers"
        ],
        "type": "object",
        "properties": {
          "billers": {
            "type": "array",
            "description": "List of billers",
            "items": {
              "$ref": "#/components/schemas/BillerWithID"
            }
          }
        }
      },
      "BillerWithID": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Biller"
          },
          {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "type": "integer",
                "description": "Biller ID"
              }
            }
          }
        ]
      },
      "Biller-response": {
        "required": [
          "biller"
        ],
        "type": "object",
        "properties": {
          "biller": {
            "type": "object",
            "description": "A specific Biller",
            "allOf": [
              {
                "$ref": "#/components/schemas/BillerWithID"
              }
            ]
          }
        }
      },
      "Bills": {
        "required": [
          "bills"
        ],
        "type": "object",
        "properties": {
          "bills": {
            "type": "array",
            "description": "List of bills",
            "items": {
              "$ref": "#/components/schemas/Bill"
            }
          }
        }
      },
      "Bill": {
        "required": [
          "amount",
          "currency",
          "id",
          "paid_amount",
          "remaining_amount"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "number",
            "description": "Bill id"
          },
          "currency": {
            "type": "string",
            "description": "Bill currency"
          },
          "amount": {
            "type": "number",
            "description": "Bill amount"
          },
          "paid_amount": {
            "type": "number",
            "description": "Bill paid amount"
          },
          "remaining_amount": {
            "type": "number",
            "description": "Bill remaining amount"
          },
          "date": {
            "type": "string",
            "description": "Bill creation date",
            "format": "date-time"
          },
          "due_date": {
            "type": "string",
            "description": "Bill due date",
            "format": "date-time"
          },
          "payment_ref_id": {
            "type": "string",
            "description": "Payment ref id"
          },
          "payments": {
            "type": "array",
            "description": "List of payments",
            "items": {
              "$ref": "#/components/schemas/Payment"
            }
          }
        }
      },
      "Payment": {
        "required": [
          "amount",
          "currency",
          "transaction_id"
        ],
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Payment amount"
          },
          "currency": {
            "type": "string",
            "description": "Payment currency"
          },
          "transaction_id": {
            "type": "string",
            "description": "Transaction id"
          },
          "date": {
            "type": "string",
            "description": "Payment date"
          }
        }
      },
      "Transactions": {
        "required": [
          "transactions"
        ],
        "type": "object",
        "properties": {
          "transactions": {
            "type": "array",
            "description": "List of transactions",
            "items": {
              "$ref": "#/components/schemas/TransactionResponse"
            }
          },
          "next_offset": {
            "type": "integer",
            "description": "Next offset for pagination"
          }
        }
      },
      "TransactionResponse": {
        "required": [
          "amount",
          "bill_id",
          "biller",
          "creation_date",
          "currency",
          "metadata",
          "status",
          "transaction_id",
          "update_date",
          "user_id"
        ],
        "type": "object",
        "properties": {
          "transaction_id": {
            "type": "string",
            "description": "Internal Payment transaction ID"
          },
          "biller": {
            "type": "string",
            "description": "Biller name"
          },
          "bill_id": {
            "type": "string",
            "description": "Bill reference number"
          },
          "status": {
            "type": "string",
            "description": "Transaction status"
          },
          "user_id": {
            "type": "string",
            "description": "User identifier, e.g MSISDN number"
          },
          "amount": {
            "type": "integer",
            "description": "Amount in sub units, e.g in cents format for \"USD\" currency"
          },
          "currency": {
            "type": "string",
            "description": "Currency"
          },
          "creation_date": {
            "type": "string",
            "description": "Transaction creation date",
            "format": "date-time"
          },
          "update_date": {
            "type": "string",
            "description": "Last transaction update date",
            "format": "date-time"
          },
          "metadata": {
            "type": "object",
            "description": "Transaction metadata",
            "allOf": [
              {
                "$ref": "#/components/schemas/Metadata"
              }
            ]
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "wallet": {
            "type": "string",
            "description": "Wallet type"
          },
          "wallet_txn_id": {
            "type": "string",
            "description": "Wallet Payment transaction ID"
          },
          "fin_id": {
            "type": "string",
            "description": "Financial institution Banking ID"
          },
          "fin_txn_id": {
            "type": "string",
            "description": "Financial institution transaction ID"
          },
          "biller_payment_ref_id": {
            "type": "string",
            "description": "Bill payment reference ID"
          }
        }
      }
    },
    "responses": {
      "ParseError": {
        "description": "When a mask can't be parsed",
        "content": {}
      },
      "MaskError": {
        "description": "When any error occurs on mask",
        "content": {}
      }
    }
  },
  "x-original-swagger-version": "2.0"
}